.intro {
  width: 50%;
  display: inline-block;
  justify-content: center;

  .intro-title {
    width: 75%;
    text-align: center;
    font-size: 2.8rem;
    margin: auto;
  }

  .intro-para {
    width: 75%;
    text-align: center;
    font-size: 1.4rem;
    margin: auto;
    margin-top: 5%;
  }
}
.side-img {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
